*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--background-color);
  color: var(--description-contacts-color);
  font-size: 16px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 141px;
  margin-right: 141px;
  margin: 0 auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --description-contacts-color: #434455;
  --logo-button-color: #4d5ae5;
  --headers-color: #2e2f42;
  --footer-color: #f4f4fd;
  --background-color: #ffffff;
  --button-hover-color: #404bbf;
  --border-color: #e7e9fc;
  --customers-color: #8e8f99;
}

/*Header*/

.header {
  border-bottom: 1px solid var(--border-color);
}

.header a {
  padding: 24px 0;
}

.site-title {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: var(--logo-button-color);
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
}

.site-title .web {
  color: var(--headers-color);
}

.current {
  color: var(--button-hover-color);
}

.header-list a {
  color: var(--headers-color);
  font-weight: 500;
  letter-spacing: 0.02em;
}

.header-contacts a {
  color: var(--description-contacts-color);
  font-weight: 400;
  letter-spacing: 0.02em;
}

.header-list a:hover,
.header-list a:focus,
.header-contacts a:hover,
.header-contacts a:focus {
  color: var(--button-hover-color);
}

.contacts {
  font-style: normal;
}

.contacts-container {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-contacts {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header-logo {
  margin-right: 76px;
}

/*Footer*/

.footer-par {
  color: var(--footer-color);
  font-weight: 400;
  letter-spacing: 0.02em;
  width: 264px;
  height: 72px;
}

.footer {
  background-color: var(--headers-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-title {
  margin-bottom: 16px;
  display: inline-block;
  padding-right: 120px;
}

.site-title .web-foot {
  color: var(--footer-color);
}

.networks-title {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--background-color);
  margin-bottom: 16px;
}

.foot-net-list {
  display: flex;
  gap: 32px;
  align-items: center;
}

.foot-net-icon {
  fill: none;
}

.foot-net-network {
  width: calc((100% - 96px) / 4);
  height: 40px;
  background-color: var(--logo-button-color);
  border-radius: 50%;
  padding: 8px;
}

.footer-main-container {
  display: flex;
  align-items: baseline;
  gap: 120px;
}

/*Main Studio - 1, Portfolio - 2*/

.hero {
  color: var(--background-color);
  background-color: var(--headers-color);
  padding-bottom: 188px;
  padding-top: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/hero1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  max-width: 1440px;
  background-size: cover;
}

.hero-button {
  color: var(--background-color);
  background-color: var(--logo-button-color);
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 16px 32px;
  margin-top: 48px;
  border-radius: 4px;
  border: 0;
  min-width: 169px;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--button-hover-color);
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  max-width: 496px;
  height: 120px;
  margin: auto;
}

.advanced-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.advanced {
  padding: 120px 0;
}

.advanced-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  margin-bottom: 8px;
}

.advanced-par {
  color: var(--description-contacts-color);
  letter-spacing: 0.02em;
}

.adv-li {
  width: calc((100% - 72px) / 4);
}

.adv-icon-container {
  display: flex;
  padding: 24px 100px;
  background-color: var(--footer-color);
  margin-bottom: 8px;
  border-radius: 4px;
}

.doing {
  padding-bottom: 120px;
}

.doing h2 {
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.doing-li {
  width: calc((100% - 48px) / 3);
}

.team {
  background-color: var(--footer-color);
  padding: 120px 0;
  margin-bottom: 120px;
}

.team-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.studio-titles {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--headers-color);
}

.team-titles {
  margin-bottom: 72px;
}

.people-li {
  background-color: var(--background-color);
  border-radius: 0 0 4px 4px;
  width: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.people-container {
  padding: 32px 16px;
}

.people-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  margin-bottom: 8px;
}

.people-par {
  text-align: center;
  color: var(--description-contacts-color);
  font-size: 16px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.people-networks {
  display: flex;
  gap: 24px;
  align-items: center;
}

.team-link {
  width: 40px;
  height: 40px;
  background-color: var(--logo-button-color);
  border-radius: 50%;
  padding: 12px;
}

.customers {
  padding-bottom: 120px;
}

.custom-title {
  font-weight: 700;
  font-size: 36px;
  color: var(--headers-color);
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
  line-height: 40px;
}

.custom-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.custom-li {
  border: 1px solid var(--customers-color);
  border-radius: 4px;
  width: calc((100% - 120px) / 6);
  height: 88px;
  padding: 16px 32px;
}

.custom-li:hover {
  border: 1px solid var(--button-hover-color);
}

.customers-icon {
  fill: none;
}

.custom-li:hover .customers-icon {
  fill: var(--button-hover-color);
}

.filters ul .button {
  background-color: var(--footer-color);
  color: var(--logo-button-color);
  font-weight: 500;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.filters {
  padding-top: 96px;
  padding-bottom: 120px;
}

.foot-button {
  display: flex;
  align-items: center;
  margin-bottom: 72px;
  justify-content: center;
  gap: 24px;
}

.button {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 12px 24px;
}

.filters ul .button:hover,
.filters ul .button:focus {
  background-color: var(--button-hover-color);
  color: var(--background-color);
  border-radius: 4px;
  border: 1px solid transparent;
}

.portfolio-titles {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--headers-color);
  margin-bottom: 8px;
}

.portfolio-par {
  color: var(--description-contacts-color);
  letter-spacing: 0.02em;
}

.port-container {
  padding: 32px 16px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 48px 24px;
}

.port-el {
  width: calc((100% - 48px) / 3);
}
